@headerColor : #BEBEBE;

/deep/.mat-dialog-container {
  padding         : 10px;
  background-color: white;
}


.hCloseCont {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;

  .mat-icon {
    color    : @headerColor;
    font-size: 16px;
    height   : auto;
    width    : auto;
    cursor   : pointer;
  }

  h4 {
    margin: 0;
  }
}

.actionCont {
  display        : flex;
  flex-direction : row;
  justify-content: flex-end;

  mat-checkbox {
    margin: auto 10px auto 0;
  }
}