 /deep/ .mat-dialog-container {
  padding: 10px;
  background-color: white;
}
.hCloseCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hCloseCont .mat-icon {
  color: #BEBEBE;
  font-size: 16px;
  height: auto;
  width: auto;
  cursor: pointer;
}
.hCloseCont h4 {
  margin: 0;
}
.actionCont {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.actionCont mat-checkbox {
  margin: auto 10px auto 0;
}
