 /deep/ .mat-dialog-container {
  padding: 10px;
  background-color: white;
}
.wrap .btnCont {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
}
.wrap .btnCont button {
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-family: inherit;
  margin: 5px;
  line-height: 0;
  height: 30px;
}
.wrap .btnCont #btnLink {
  background: linear-gradient(to bottom, #1275c0 0%, #2aa9e2 100%);
}
