 /deep/ .mat-dialog-container {
  padding: 10px;
  background-color: white;
}
.actionCont {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.actionCont mat-checkbox {
  margin: auto 10px auto 0;
}
