 /deep/ .mat-dialog-container {
  background-color: white;
  padding: 10px;
}
.dateCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dateCont label {
  font-size: 14px;
  margin: auto 0;
}
.wrap {
  width: 70vh;
  display: grid;
}
.wrap .phoneEmailCont {
  display: grid;
  grid-template-columns: 150px 20px 1fr;
}
.wrap .phoneEmailCont #secondId {
  grid-column: 3;
}
.wrap mat-form-field {
  font-family: inherit;
  margin: 3px;
  width: 100%;
}
.wrap mat-form-field textarea {
  height: 150px;
  background-color: #F8F8F8;
  resize: none;
}
.wrap mat-form-field textarea::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}
.wrap mat-form-field textarea::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #0375BE;
}
.wrap .btnCont {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.wrap .btnCont button {
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-family: inherit;
  margin: 5px;
  line-height: 0;
  height: 30px;
}
.wrap .btnCont #btnSave {
  background: linear-gradient(to bottom, #1275c0 0%, #2aa9e2 100%);
}
.wrap .btnCont #btnCancel {
  background: linear-gradient(to bottom, #bc4c04 0%, #e16028 100%);
}
