 /deep/ .mat-dialog-container {
  background-color: #e2e2e2;
  padding: 20px 50px;
}
.headerCont {
  display: flex;
  flex-direction: row;
}
.headerCont h2 {
  text-align: center;
  background: linear-gradient(to bottom, #1275c0 0%, #2aa9e2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 5px 0;
}
.headerCont button {
  border: 2px solid #c0c0c0;
  color: #5f6d7b;
  margin: auto 0 auto 20px;
  padding: 3px;
  box-sizing: content-box;
  height: 20px;
  line-height: normal;
  width: min-content;
}
.dateCont label {
  font-size: 12px;
}
.wrap {
  width: 70vh;
  display: grid;
}
.wrap mat-form-field {
  font-family: inherit;
  margin: 3px;
}
.wrap mat-form-field textarea {
  height: 100px;
  background-color: #C4C4C4;
  resize: none;
}
.wrap mat-form-field textarea::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}
.wrap mat-form-field textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #5f6d7b;
}
.wrap .organizationCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wrap .organizationCont button {
  border: 2px solid #c0c0c0;
  color: #5f6d7b;
  margin: auto 0 auto 20px;
  padding: 3px;
  box-sizing: content-box;
  height: 20px;
  line-height: normal;
  width: min-content;
}
.wrap .btnCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.wrap .btnCont button {
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-family: inherit;
  margin: 5px;
  line-height: 0;
  height: 30px;
}
.wrap .btnCont #btnSave {
  background: linear-gradient(to bottom, #1275c0 0%, #2aa9e2 100%);
}
.wrap .btnCont #btnCancel {
  background: linear-gradient(to bottom, #bc4c04 0%, #e16028 100%);
}
