@backgroundCol  : #e4e4e4;
@fieldBackground: #c4c4c4;
@mainTextColor  : #5f6d7b;
@secondColor    : #c0c0c0;
@mainCol        : #0375BE;

/deep/ .mat-dialog-container {
  background-color: white;
  padding         : 10px;
}

.dateCont {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;

  label {
    font-size: 14px;
    margin   : auto 0;
  }
}

.wrap {
  width  : 70vh;
  display: grid;

  .phoneEmailCont {
    display              : grid;
    grid-template-columns: 150px 20px 1fr;

    #secondId {
      grid-column: 3;
    }
  }

  mat-form-field {
    font-family: inherit;
    margin     : 3px;
    width      : 100%;

    textarea {
      height          : 150px;
      background-color: #F8F8F8;
      resize          : none;
    }

    textarea::-webkit-scrollbar {
      width           : 7px;
      background-color: transparent;
    }

    textarea::-webkit-scrollbar-thumb {
      border-radius     : 4px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      background-color  : @mainCol;
    }
  }

  .btnCont {
    display        : flex;
    flex-direction : row;
    justify-content: flex-end;

    button {
      color      : white;
      box-shadow : 0 0 10px rgba(0, 0, 0, 0.5);
      font-family: inherit;
      line-height: 0;
      margin     : 5px;
      line-height: 0;
      height     : 30px;
    }

    #btnSave {
      background: linear-gradient(to bottom, #1275c0 0%, #2aa9e2 100%);
    }

    #btnCancel {
      background: linear-gradient(to bottom, #bc4c04 0%, #e16028 100%);
    }
  }
}