.outletCont {
  padding: 10px 30px;
}
.wrap {
  padding: 10px 30px;
}
.wrap .headerCont {
  display: grid;
  grid-template-columns: 1fr 3fr 0.5fr 1fr;
}
.wrap .headerCont .imgCont {
  margin: auto 0;
}
.wrap .headerCont .imgCont img {
  height: 80px;
  object-fit: cover;
}
.wrap .headerCont .tabCont {
  margin: auto 0;
  padding: 0 25px;
}
.wrap .headerCont .tabCont mat-toolbar {
  background-color: white;
  font-family: inherit;
}
.wrap .headerCont .tabCont mat-toolbar a {
  color: #8996a3;
  padding: 0 20px;
  border-radius: 0;
  font-family: inherit;
  font-size: 14px;
  text-decoration: none;
}
.wrap .headerCont .tabCont mat-toolbar a:focus {
  outline: 0;
}
.wrap .headerCont .tabCont mat-toolbar .checkedLine {
  border-bottom: 2px solid #0375BE;
  font-weight: bold;
  color: #5f6d7b;
}
.wrap .headerCont .tabCont mat-toolbar hr {
  height: 20px;
  margin: 0 10px;
}
.wrap .headerCont .tabCont mat-toolbar .mat-badge-content {
  right: 0;
  top: 0;
  color: red;
  background: transparent;
}
.wrap .headerCont .profileCont {
  margin-top: 15px;
  grid-column: 4;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.wrap .headerCont .profileCont .iconMenu {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.wrap .headerCont .profileCont .iconMenu mat-icon {
  margin: 0;
  font-size: 40px;
}
.wrap .headerCont .profileCont .iconMenu .color {
  background: linear-gradient(to bottom, #1275c0 0%, #2aa9e2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wrap .headerCont .profileCont .iconMenu /deep/ .mat-icon {
  height: auto;
  width: auto;
}
.wrap .headerCont .profileCont .iconMenu .menuCont mat-icon {
  cursor: pointer;
  font-size: 40px;
}
 /deep/ .mat-menu-item {
  font-family: inherit;
}
 /deep/ .mat-menu-item:focus {
  outline: 0;
}
