.noSelect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
.loginWrap {
  background-image: url("../../../assets/Pictures/LoginBkg.jpeg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.loginWrap .imageBlur {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.loginWrap .imageBlur .hCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 35px;
}
.loginWrap .imageBlur .hCont h2 {
  grid-row: 1;
  text-align: center;
  background: linear-gradient(to bottom, #1275c0 0%, #2aa9e2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.loginWrap .imageBlur .cont {
  margin: auto 35px;
  font-family: inherit;
  display: grid;
  grid-template-rows: 1fr 1.5fr 1fr;
}
.loginWrap .imageBlur .cont mat-form-field {
  width: 100%;
  color: #5f6d7b;
}
.loginWrap .imageBlur .cont mat-form-field mat-label {
  color: #5f6d7b;
}
.loginWrap .imageBlur .cont #codeDiv {
  grid-row: 2;
}
.loginWrap .imageBlur .cont #emailButton {
  grid-row: 3;
}
.loginWrap .imageBlur .cont #sendButton {
  grid-row: 3;
}
.loginWrap .imageBlur .buttonCont {
  margin: auto 35px;
}
.loginWrap .imageBlur .buttonCont button {
  height: auto;
  width: 100%;
  margin: auto;
  background: linear-gradient(to bottom, #1275c0 0%, #2aa9e2 100%);
  color: white;
  font-size: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-family: inherit;
}
.loginWrap .imageBlur .forgotCont {
  background-color: rgba(255, 255, 255, 0.7);
  height: 60%;
  width: 25%;
  border-radius: 30px;
  position: absolute;
  left: calc(100% / 2 - 14.5%);
  top: 15%;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr 2fr;
}
.loginWrap .imageBlur .forgotCont h2 {
  color: #5f6d7b;
}
