.scrollbar-black::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #c0c0c0;
  border-radius: 10px;
}
.scrollbar-black::-webkit-scrollbar {
  height: 7px;
  width: 7px;
  background-color: #f5f5f5;
  border-radius: 10px;
}
.scrollbar-black::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #5f6d7b;
}
.bordered-black::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border: 0 solid #5f6d7b;
}
.bordered-black::-webkit-scrollbar-thumb {
  -webkit-box-shadow: none;
}
.mat-button {
  width: auto;
  height: auto;
  padding: 0;
  min-width: 0;
}
.wrap {
  background-color: #e4e4e4;
  overflow: auto;
  position: absolute;
  height: calc(100% - 80px);
  width: calc(100% - 60px);
  border-radius: 5px;
}
.wrap .mat-divider {
  margin: 10px 0;
}
.wrap .cont {
  margin: 0 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.wrap .cont .mat-form-field {
  border-radius: 5px;
  font-family: inherit;
}
.wrap .cont .mat-form-field input,
.wrap .cont .mat-form-field .mat-select {
  color: #5f6d7b;
  font-family: inherit;
}
.wrap .cont .imgCont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.wrap .cont .imgCont img {
  height: 150px;
  width: 250px;
  margin: 20px auto;
  cursor: pointer;
  border-radius: 5px;
}
.wrap .cont .imgCont .imgSwiper {
  overflow: auto;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}
.wrap .cont .imgCont .imgSwiper img {
  margin: 3px;
  height: 100px;
  width: 150px;
}
.wrap .cont .imgCont button {
  font-family: inherit;
  border: 2px solid #c0c0c0;
  color: #5f6d7b;
  margin: 10px 0;
  padding: 3px;
  box-sizing: content-box;
  height: 20px;
  line-height: normal;
  width: min-content;
}
.wrap .cont .mapCont #map-canvas {
  height: 300px;
  margin-top: 10px;
}
.wrap .cont .mapCont button {
  font-family: inherit;
  border: 2px solid #c0c0c0;
  color: #5f6d7b;
  margin: 5px 0;
  padding: 3px;
  box-sizing: content-box;
  height: 20px;
  line-height: normal;
}
.wrap .cont .timeCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
}
.wrap .cont .timeCont .mat-form-field {
  margin: 0;
}
.wrap .cont .numbersCont {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.wrap .cont .numbersCont .numCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
}
.wrap .cont .numbersCont .numCont .mat-form-field {
  margin: 0;
}
.wrap .cont .numbersCont .numCont .mat-checkbox {
  margin: auto;
}
.wrap .cont .numbersCont .numCont .mat-button {
  height: fit-content;
  margin: auto 0;
}
.wrap .cont .numbersCont button {
  font-family: inherit;
  border: 2px solid #c0c0c0;
  color: #5f6d7b;
  margin: 5px 0;
  box-sizing: content-box;
  line-height: normal;
  width: fit-content;
}
.wrap .cont .socLinkCont {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.wrap .cont .socLinkCont .socCont {
  display: grid;
  grid-template-columns: 10fr 1fr auto;
}
.wrap .cont .socLinkCont .socCont .mat-form-field {
  width: 100%;
  margin: auto;
}
.wrap .cont .socLinkCont .socCont button {
  grid-column: 3;
  margin: auto;
  line-height: normal;
}
.wrap .cont .socLinkCont button {
  font-family: inherit;
  border: 2px solid #c0c0c0;
  color: #5f6d7b;
  margin: 5px 0;
  width: fit-content;
  line-height: normal;
}
.wrap .cont .parametrCont {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.wrap .cont .parametrCont .paramRight {
  grid-column: 3;
}
.wrap .cont .reservParamCont {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
.wrap .cont .btnCont {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 5px 0;
}
.wrap .cont .btnCont button {
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-family: inherit;
  margin: 5px;
  line-height: 0;
  height: 30px;
}
.wrap .cont .btnCont #btnSave {
  background: linear-gradient(to bottom, #1275c0 0%, #2aa9e2 100%);
}
.wrap .cont .btnCont #btnCancel {
  background: linear-gradient(to bottom, #bc4c04 0%, #e16028 100%);
}
