<form [formGroup]='changePasswordForm' (ngSubmit)='onSubmit()'>

    <h2>Change Password</h2>

    <mat-form-field>
        <mat-label>Current Password</mat-label>
        <input matInput formControlName='currentPassword' type="password">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Enter New Password</mat-label>
        <input matInput formControlName='newPassword' type="password">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Repeat New Password</mat-label>
        <input matInput formControlName='repeatPassword' type="password">
    </mat-form-field>

    <mat-divider></mat-divider>

      <div>
        <button mat-button type="submit">Change</button>
      </div>

</form>