<div class="wrap">
  <div class="paginationCont">
    <label>{{ pagesView }} of {{ notificationCount }}</label>
    <button mat-button [disabled]="currentPage === 1" (click)="pageChange(false)">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button mat-button [disabled]="currentPage === lastPage || lastPage === 0" (click)="pageChange(true)">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>

  <div class="notificationsCont scrollbar scrollbar-black bordered-black square thin">

    <div *ngFor="let item of notifications" class="notifCont {{ item.done == null ? 'unDone' : 'done' }}"
      (click)="openNotification(item)">
      <label>{{ item.dateTime | date: 'dd.MM.yyyy HH:mm' }}</label>

      <label>{{item.title}}</label>

      <label class="{{item.notificationType}}">{{item.notificationType}}</label>

      <mat-checkbox [disabled]="true" [checked]="item.done != null" readonly>Done</mat-checkbox>

    </div>

  </div>
</div>
