<div class="wrap">
  <h4>{{ data.title }}</h4>
  <div>{{ data.message }}</div>

  <div class="btnCont">
    <div *ngIf="data.type == 0">
      <button mat-button id="btnYes" (click)="dialogRef.close(true)">Yes</button>
      <button mat-button id="btnNo" (click)="dialogRef.close(false)">No</button>
    </div>

    <div *ngIf="data.type == 1 || data.type == 2">
      <button mat-button id="btnYes" (click)="dialogRef.close(false)">Ok</button>
      <!-- <button mat-button id="btnNo" (click)="dialogRef.close(false)">Cancel</button> -->
    </div>
  </div>

</div>
